name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.RYANGOOSLING }}
          password: ${{ secrets.DOCKERTOKEN }}
      
      - name: Build
        run: docker build -f Dockerfile -t echoserver
        
      - name: Push
        run: Docker push echoserver
        
